@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

html {
  position: relative;
}

h1,
h2,
h3,
p,
span,
button,
a,
i,
li {
  color: #787281;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  line-height: 1.4;
}

a,
li,
button,
i {
  line-height: 1;
}

.other-font {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.8px;
}
